<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--[if (IE)]>
        <link href="Public/CSS/bootstrap-bless.css" rel="stylesheet"/>
        <link href="Public/CSS/bootstrap-bless-blessed1.css" rel="stylesheet"/>
    <![endif]-->
    <!--[if !(IE)]><!-->
        <link href="~/Public/CSS/bootstrap.css" rel="stylesheet" />
    <!--<![endif]-->
    <link href="~/Public/CSS/signature.css" rel="stylesheet" />
    <link href="~/Public/CSS/jquery-ui-1.8.16.custom.css " rel="stylesheet" />
    <link href="~/Public/CSS/fixes.css" rel="stylesheet" />

</head>
<body>
    <script type='text/javascript' src='Public/Scripts/Libs/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' src='Public/Scripts/Libs/jquery-ui-1.8.18.min.js'></script>
    <script type='text/javascript' src='Public/Scripts/Libs/jquery.text-overflow.js'></script>
    
    <script type='text/javascript' src="Public/Scripts/Signature.all.js"></script>
    <script type='text/javascript'>
        var gdSignaturePrefix ='gd-signature';
        var gdUseHttpHandlers =false;
        ViewContext = {};
        ViewContext.Credentials = {
            userId: '',
            privateKey: '',
            primaryEmail: '',
            serviceAddress: '',
            userName: 'Anonymous'
            };
        ViewContext.AppPath = '/gd-signature/signature2/';
        ViewContext.PortalServiceHost = '/gd-signature/signature2/';
        Container = new JsInject.Container();
        Container.Register('Cacher', function (c) { return $.jCacher; }, true);
        Container.Register('Rx.Observable', function (c) { return Rx.Observable; }, true);
        Container.Register('RequestObservable', function (c) { return $.ajaxAsObservable; }, true);
        Container.Register('AsyncSubject', function (c) { return new Rx.AsyncSubject(); }, false);
        Container.Register('PortalService', function (c) { return new jSaaspose.PortalService(ViewContext.PortalServiceHost); }, true);
        Container.Register('PasswordValidator', function (c) { return jSaaspose.utils; }, true);
        Container.Register('EmailValidator', function (c) { return jSaaspose.utils; }, true);
        Container.Register('PathProvider', function (c) { return jSaaspose.utils; }, true);
        Container.Register('HttpProvider', function (c) { return jSaaspose.http; }, true);
        function jerror(msg) {
            if (!msg) msg = "Sorry, we're unable to perform your request right now. Please try again later.";
            $("#jerrorMsg").text(msg);
            $('#jerror').modal('show');
        }

        $(document).ready(function () {
            $('#jerror').modal({ show: false });
        });
        var isPublic = true;
        var showErrorDialog = '';
        var documentId = '';
        var signatureColor = '#0036D9';
        var gdSignatureHostUrl = '';
    </script>
    <script type='text/javascript' src='~/Public/Scripts/Libs/require.js'></script>
    @*<script type='text/javascript' src="Public/Scripts/DocViewer.all.js"></script>*@
    <script type='text/javascript' src="~/Public/Scripts/DocViewer.all.part1.js"></script>
    <script type='text/javascript' src="~/Public/Scripts/installableSignature.js"></script>
    
    <script type="text/javascript" src="@Url.Content("~/Public/Scripts/fileOpenDialogViewModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Public/Scripts/jGroupdocs.FileOpenDialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Public/Scripts/jGroupdocs.Explorer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Public/Scripts/jSaaspose.Uploader.js")"></script>

    <script type='text/javascript' src="~/Public/Scripts/DocViewer.all.part2.js"></script>

    @RenderBody()
    @RenderSection("scripts", false)

</body>
</html>
